@include margin-classes;
@include padding-classes;

* {
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #fff3;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #0003;
        border-radius: 10px;
        transition: all .2s ease-in-out;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}

$bg-input: #f8f9fa;
$border-bottom: rgb(76, 43, 135);
$box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

.full-width {
    width: 100% !important;
}
.expanded {
    background-color: yellow;
}
.flex { display: flex !important; }
.items-end { align-items: flex-end; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.align-items-center { align-items: center;  }
.text-right { text-align: right !important; }
.btn-status {
    color: var(--vt-c-white);
    background-color: var(--vt-c-blue);
    border-radius: 10px;
    padding: 2px 12px;
    letter-spacing: 0px;
}
.text-align-center {
    text-align: center
}

#wrapper {
    margin-left: 240px;
    transition: margin 1s;
    &.isCollapse {
        margin-left: calc(
            var(--el-menu-icon-width) + var(--el-menu-base-level-padding) * 2 +
                1px
        );
    }
}
#main {
    padding: 0 30px 30px 30px;
}

.table {
    width: 100%;
    border-spacing: 0;
    thead {
        color: var(--color-bg-main);
        tr {
            th {
                text-align: left;
                font-weight: 300;
                font-size: 17px;
                padding: 0 8px;
                height: 48px;
                &:last-child {
                    text-align: right;
                }
            }
            &:last-child {
                th {
                    border-bottom: thin solid rgba(0,0,0,.12);
                }
            }
        }
    }
    tbody {
        color: rgba(0,0,0,.87);
        tr {
            td {
                text-align: left;
                font-weight: 300;
                padding: 0 16px;
                height: 48px;
                &:last-child {
                    text-align: right;
                }
            }
            &:not(:last-child) {
                td {
                    border-bottom: thin solid rgba(0,0,0,.12);
                }
            }
        }
    }
}

.el-form-item {
    .el-form-item__content {
        .label {
            display: block;
            width: 100%;
        }
        .el-button {
            width: var(--vt-w-button);
        }
        .el-checkbox__label {
            font-size: 12px;
        }
    }
}

.el-group-title-child {
    h4 {
        font-size: 20px;
    }
}

.table-pagination {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 16px;
    .el-pagination {
        padding: 0;
        &.is-background {
            .btn-prev {
                background-color: unset;
                &:disabled {
                    background-color: unset;
                }
            }
            .btn-next {
                background-color: unset;
                &:disabled {
                    background-color: unset;
                }
            }
            .el-pager {
                li {
                    border-radius: 50%;
                    background-color: unset;
                    &:not(.is-disabled).is-active {
                        background-color: var(--color-bg-main);
                        box-shadow: 0 4px 5px 0 rgb(76 175 80 / 14%), 0 1px 10px 0 rgb(76 175 80 / 12%), 0 2px 4px -1px rgb(76 175 80 / 20%);
                    }
                    &:not(.is-disabled):not(.is-active):hover {
                        color: var(--color-bg-main);
                    }
                }
            }
        }
    }
}

.el-table {
    th {
        &.el-table__cell {
            border-top: var(--el-table-border);
        }
    }
    .el-table__row {
        &:hover {
            .btn-action {
                background-color: unset;
            }
        }
    }
    .el-table__cell {
        &:hover {
            .btn-action {
                background-color: unset;
            }
        }
    }
    .cell {
        &:hover {
            .btn-action {
                background-color: unset;
            }
        }
    }
    .el-button {
        &.btn-action {
            border: none;
            margin: 0;
            padding: 8px 12px;
            &:hover {
                background-color: unset;
                border-color: unset;
            }
            &:active {
                background-color: unset;
                border-color: unset;
            }
            &:focus {
                background-color: unset;
                border-color: unset;
            }
            i {
                font-size: 18px;
            }
        }
        &.btn-update {
            color: orange;
        }
        &.btn-delete {
            color: var(--vt-c-red);
        }
    }
}

.el-dialog {
    .el-dialog__body {
        padding-bottom: 0;
    }
    .el-form {
        .el-form-item {
          &:last-child {
            margin-bottom: 0;
          }
        }
    }
}

.text-note {
    color: var(--vt-c-red);
    font-size: 12px;
}

.base-input {
    &.title {
        .el-input__wrapper {
            font-size: 20px;
        }
    }
    &.is-disabled {
        cursor: unset !important;
        .el-input__wrapper {
            background-color: unset !important;
            box-shadow: unset !important;
            border-bottom: unset !important;
            padding: 0 !important;
            .el-input__inner {
                cursor: unset !important;
            }
        }
    }
    .el-input__wrapper {
        border-radius: unset;
        box-shadow: unset;
        border: unset;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding: 2px 12px 0px;
        background: $bg-input;
        &:hover {
            box-shadow: unset;
            background: #f1f3f4;
        }
        &.is-focus {
            box-shadow: unset;
            &::after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                animation-name: loadBottomInput;
                animation-duration: 0.5s;
                background-color: $border-bottom;
            }
        }
    }
}

.justify-center {
    .el-form-item__content {
        justify-content: center;
    }
}

.text-align-center {
    text-align: center
}

.cursor-pointer {
    cursor: pointer;
}

.el-select {
    &.base-input {
        &:hover:not(.el-select--disabled) {
            .el-input__wrapper {
                box-shadow: unset !important;
            }
        }
    }
}

.base-input-item {
    @extend .base-input;
    .el-input__wrapper {
        padding: 6px 12px 3px;
    }
}
.el-form-item__error {
    padding-top: 3px;
}

.base-input-time {
    .el-input__wrapper {
        border-radius: 30px;
        background: darkslategrey;
        border: none;
        box-shadow: unset;
        &:hover {
            box-shadow: unset;
            background: var(--color-bg-main);
        }
        .el-input__inner {
            color: var(--vt-c-white);

        }
        &.is-focus {
            box-shadow: unset;
            background: var(--color-bg-main);
        }
    }
}

.group-time {
    .group-time-item {
        margin-bottom: 12px;
        .base-input-time {
            border-radius: 4px;
            color: var(--vt-c-white);
            background: lightslategrey;
            padding: 4px 16px;
        }
        .time-center {
           text-align: center;
            display: block;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.text-bold {
    font-style: bold;
}

.detail-session-wrapper {
    .title {
        margin-bottom: 10px;
        p {
            font-weight: bold;
        }
    }

    .sessions {
        .text-info {
            display: flex;
            align-items: center;
            width: 147px;
            height: 36px;
            background: #7f7f7f;
            padding: 0 18px;
            border-radius: 5px;
            color: white;
        }
        .item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
