:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;
    --vt-c-black-medium: #495057;

    --vt-c-indigo: #2c3e50;

    --vt-c-green: #4caf50;

    --vt-c-gray: #eee;

    --vt-c-red: #f33527;

    --vt-c-blue: #007bff;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --vt-w-button: 92px;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
    --color-background-medium: var(--vt-c-gray);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --color-text-main: var(--vt-c-black-medium);

    --section-gap: 160px;
    --color-bg-main: var(--vt-c-green);
}

/* @media (prefers-color-scheme: dark) {
    :root {
      --color-background: var(--vt-c-black);
      --color-background-soft: var(--vt-c-black-soft);
      --color-background-mute: var(--vt-c-black-mute);
  
      --color-border: var(--vt-c-divider-dark-2);
      --color-border-hover: var(--vt-c-divider-dark-1);
  
      --color-heading: var(--vt-c-text-dark-1);
      --color-text: var(--vt-c-text-dark-2);
    }
  } */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text-main);
    background: var(--color-background-medium);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.status-label {
    color: white;
    border-radius: 6px;
    padding: 5px;
}

*,
*::before,
*::after {
    position: unset;
}

* {
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #fff3;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #0003;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}
@include margin-classes;
@include padding-classes;

$bg-input: #f8f9fa;
$border-bottom: rgb(76, 43, 135);
$box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);

.full-width {
    width: 100% !important;
}
.expanded {
    background-color: yellow;
}
.flex {
    display: flex !important;
}
.items-end {
    align-items: flex-end !important;
}
.justify-between {
    justify-content: space-between !important;
}
.justify-center {
    justify-content: center !important;
}
.justify-right {
    justify-content: flex-end !important;
}
.align-items-center {
    align-items: center;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}

.btn-status {
    color: var(--vt-c-white);
    background-color: var(--vt-c-blue);
    border-radius: 10px;
    padding: 2px 12px;
    letter-spacing: 0px;
}

#wrapper {
    margin-left: 240px;
    transition: margin 1s;
    &.isCollapse {
        margin-left: calc(
            var(--el-menu-icon-width) + var(--el-menu-base-level-padding) * 2 +
                1px
        );
    }
}
#main {
    padding: 0 30px 30px 30px;
}

.table {
    width: 100%;
    border-spacing: 0;
    thead {
        color: var(--color-bg-main);
        tr {
            th {
                text-align: left;
                font-weight: 300;
                font-size: 17px;
                padding: 0 8px;
                height: 48px;
                &:last-child {
                    text-align: right;
                }
            }
            &:last-child {
                th {
                    border-bottom: thin solid rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
    tbody {
        color: rgba(0, 0, 0, 0.87);
        tr {
            td {
                text-align: left;
                font-weight: 300;
                padding: 0 16px;
                height: 48px;
                &:last-child {
                    text-align: right;
                }
            }
            &:not(:last-child) {
                td {
                    border-bottom: thin solid rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
}

.el-form-item {
    .el-form-item__content {
        .label {
            display: block;
            width: 100%;
        }
        .el-button {
            width: var(--vt-w-button);
            &:focus {
                border-color: var(--el-button-border-color);
                background-color: var(--el-button-bg-color);
                color: var(--el-button-text-color);
            }
            &:active {
                background-color: var(--el-button-hover-border-color);
                border-color: var(--el-button-hover-border-color);
                color: var(--el-button-hover-text-color);
            }
        }
        .el-checkbox__label {
            font-size: 12px;
        }
    }
}

.el-button.el-button--primary {
    width: var(--vt-w-button);
    &:focus {
        border-color: var(--el-color-primary);
        background-color: var(--el-color-primary);
        color: var(--el-color-white);
        outline: var(--el-color-primary-light-5);
    }
    &:active {
        background-color: var(--el-button-hover-border-color);
        border-color: var(--el-button-hover-border-color);
        color: var(--el-button-hover-text-color);
    }
}

.el-group-title-child {
    h4 {
        font-size: 20px;
    }
}

.table-pagination {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 16px;
    .el-pagination {
        padding: 0;
        &.is-background {
            .btn-prev {
                background-color: unset;
                &:disabled {
                    background-color: unset;
                }
            }
            .btn-next {
                background-color: unset;
                &:disabled {
                    background-color: unset;
                }
            }
            .el-pager {
                li {
                    border-radius: 50%;
                    background-color: unset;
                    &:not(.is-disabled).is-active {
                        background-color: var(--color-bg-main);
                        box-shadow: 0 4px 5px 0 rgb(76 175 80 / 14%),
                            0 1px 10px 0 rgb(76 175 80 / 12%),
                            0 2px 4px -1px rgb(76 175 80 / 20%);
                    }
                    &:not(.is-disabled):not(.is-active):hover {
                        color: var(--color-bg-main);
                    }
                }
            }
        }
    }
}

.el-table {
    th {
        &.el-table__cell {
            border-top: var(--el-table-border);
        }
    }
    .el-table__row {
        &:hover {
            .btn-action {
                background-color: unset;
            }
        }
    }
    .el-table__cell {
        &:hover {
            .btn-action {
                background-color: unset;
            }
        }
    }
    td {
        &.el-table__cell {
            div {
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    .cell {
        &:hover {
            .btn-action {
                background-color: unset;
            }
        }
    }
    .el-button {
        &.btn-action {
            border: none;
            margin: 0;
            padding: 8px 12px;
            &:hover {
                background-color: unset;
                border-color: unset;
            }
            &:active {
                background-color: unset;
                border-color: unset;
            }
            &:focus {
                background-color: unset;
                border-color: unset;
            }
            i {
                font-size: 18px;
            }
        }
        &.btn-update {
            color: orange;
        }
        &.btn-delete {
            color: var(--vt-c-red);
        }
    }
}

.el-dialog {
    .el-dialog__body {
        padding-bottom: 0;
    }
    .el-form {
        .el-form-item {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.text-note {
    color: var(--vt-c-red);
    font-size: 12px;
}

.base-input {
    &.title {
        .el-input__wrapper {
            font-size: 20px;
        }
    }
    &.is-disabled {
        cursor: unset !important;
        .el-input__wrapper {
            // background-color: unset !important;
            box-shadow: unset !important;
            // border-bottom: unset !important;
            .el-input__inner {
                cursor: unset !important;
            }
        }
    }
    .el-input__wrapper {
        border-radius: unset;
        box-shadow: unset;
        border: unset;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding: 2px 12px 0px;
        background: $bg-input;
        &:hover {
            box-shadow: unset;
            background: #f1f3f4;
        }
        &.is-focus {
            box-shadow: unset;
            &::after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                animation-name: loadBottomInput;
                animation-duration: 0.5s;
                background-color: $border-bottom;
            }
        }
    }
}

.justify-center {
    .el-form-item__content {
        justify-content: center;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.el-select {
    &.base-input {
        &:hover:not(.el-select--disabled) {
            .el-input__wrapper {
                box-shadow: unset !important;
            }
        }
    }
}

.base-input-item {
    @extend .base-input;
    .el-input__wrapper {
        padding: 6px 12px 3px;
    }
}
.el-form-item__error {
    padding-top: 3px !important;
}

.custom {
    .el-form-item__error {
        padding-top: 7px !important;
        position: relative !important;
        white-space: nowrap;
        top: 0 !important;
    }
}

.base-input-time {
    .el-input__wrapper {
        border-radius: 30px;
        background: darkslategrey;
        border: none;
        box-shadow: unset;
        &:hover {
            box-shadow: unset;
            background: var(--color-bg-main);
        }
        .el-input__inner {
            color: var(--vt-c-white);
        }
        &.is-focus {
            box-shadow: unset;
            background: var(--color-bg-main);
        }
    }
}

.group-time {
    .group-time-item {
        margin-bottom: 12px;
        .base-input-time {
            border-radius: 4px;
            color: var(--vt-c-white);
            background: lightslategrey;
            padding: 4px 16px;
        }
        .time-center {
            text-align: center;
            display: block;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.err_msg {
    color: var(--vt-c-red);
    margin-bottom: 20px;
    text-align: center;
}

.text-bold {
    font-style: bold;
}

.detail-session-wrapper {
    .title {
        margin-bottom: 10px;
        p {
            font-weight: bold;
        }
    }

    .sessions {
        .text-info {
            display: flex;
            align-items: center;
            width: 147px;
            height: 36px;
            background: #7f7f7f;
            padding: 0 18px;
            border-radius: 5px;
            color: white;
        }
        .item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.required {
    &::after {
        content: '*';
        font-size: 1.2em;
        color: var(--vt-c-red);
        margin-left: 3px;
    }
}

#sidebar-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    border-right: solid 1px var(--el-menu-border-color);
    transition: width 1s;
    background-image: url(https://demos.creative-tim.com/vue-material-dashboard/img/sidebar-2.32103624.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    &::after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(27, 27, 27, 0.87);
        opacity: 0.85;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &.isCollapse {
        width: calc(
            var(--el-menu-icon-width) + var(--el-menu-base-level-padding) * 2 +
                1px
        );
        .el-menu {
            .el-menu-item {
                span {
                    display: none;
                }
            }
        }
    }
    .logo {
        text-align: center;
        padding: 15px 0;
        z-index: 4;
        position: relative;
        height: 70px;
        .logo-mini {
            float: left;
            width: 40px;
            text-align: center;
            margin-left: 25px;
            margin-right: 11px;
            position: relative;
            top: -5px;
            img {
                width: 55%;
                vertical-align: -webkit-baseline-middle;
            }
        }
        .simple-text {
            text-transform: uppercase;
            padding: 5px 0;
            display: block;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-decoration: none;
            float: left;
            color: var(--color-background);
            .logo-img {
                width: 40px;
                display: inline-block;
                height: 40px;
                background: var(--color-background);
                border-radius: 50%;
                text-align: center;
                overflow: hidden;
                -webkit-box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%),
                    0 4px 25px 0 rgb(0 0 0 / 12%),
                    0 8px 10px -5px rgb(0 0 0 / 20%);
                box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%),
                    0 4px 25px 0 rgb(0 0 0 / 12%),
                    0 8px 10px -5px rgb(0 0 0 / 20%);
            }
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: hsla(0, 0%, 70.6%, 0.3);
        }
    }

    .el-menu {
        border-right: none;
        height: 100vh;
        overflow-y: auto;
        background-color: unset;
        position: relative;
        overflow: auto;
        width: 100%;
        z-index: 4;
        margin-top: 12px;

        .el-menu-item {
            transition: width 1s;
            margin: 10px 15px 0;
            border-radius: 3px;
            color: var(--color-background) !important;
            white-space: nowrap;
            cursor: pointer;
            letter-spacing: 1.6px;
            a {
                text-decoration: none;
                color: inherit;
                display: block;
                width: 100%;
            }
            &.is-active {
                background-color: var(--color-bg-main) !important;
                -webkit-box-shadow: 0 12px 20px -10px rgb(76 175 80 / 28%),
                    0 4px 20px 0 rgb(0 0 0 / 12%),
                    0 7px 8px -5px rgb(76 175 80 / 20%);
                box-shadow: 0 12px 20px -10px rgb(76 175 80 / 28%),
                    0 4px 20px 0 rgb(0 0 0 / 12%),
                    0 7px 8px -5px rgb(76 175 80 / 20%);
            }
            &:hover:not(.is-active) {
                background-color: hsla(0, 0%, 78.4%, 0.2) !important;
            }
        }

        .el-sub-menu {
            &.is-opened.is-opened {
                & > :deep(ul) {
                    display: block !important;
                }
            }
        }
    }
}

.pattern-form {
    .el-input--large .el-input__wrapper {
        width: 170px;
    }
}
.pl-8 {
    padding-left: 8px;
}
