$bg-input: #f8f9fa;
$border-bottom: rgb(76, 43, 135);
$box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
.base-input {
    &.title {
        .el-input__wrapper {
            font-size: 20px;
        }
    }
    &.is-disabled {
        cursor: unset !important;
        .el-input__wrapper {
            background-color: unset !important;
            box-shadow: unset !important;
            border-bottom: unset !important;
            padding: 0 !important;
            .el-input__inner {
                cursor: unset !important;
            }
        }
    }
    .el-input__wrapper {
        border-radius: unset;
        box-shadow: unset;
        border: unset;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding: 2px 12px 0px;
        background: $bg-input;
        &:hover {
            box-shadow: unset;
            background: #f1f3f4;
        }
        &.is-focus {
            box-shadow: unset;
            &::after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                animation-name: loadBottomInput;
                animation-duration: 0.5s;
                background-color: $border-bottom;
            }
        }
    }
}

.el-select {
    &.base-input {
        &:hover:not(.el-select--disabled) {
            .el-input__wrapper {
                box-shadow: unset !important;
            }
        }
    }
}

.base-input-item {
    @extend .base-input;
    .el-input__wrapper {
        padding: 6px 12px 3px;
    }
}
.el-form-item {
    &.is-error {
        .el-input__wrapper {
            box-shadow: unset !important;
        }
    }
}
.el-form-item__error {
    padding-top: 3px;
}

.base-input-time {
    .el-input__wrapper {
        border-radius: 30px;
        background: darkslategrey;
        border: none;
        box-shadow: unset;
        &:hover {
            box-shadow: unset;
            background: var(--color-bg-main);
        }
        .el-input__inner {
            color: var(--vt-c-white);

        }
        &.is-focus {
            box-shadow: unset;
            background: var(--color-bg-main);
        }
    }
}

.group-time {
    .group-time-item {
        margin-bottom: 12px;
        .base-input-time {
            border-radius: 4px;
            color: var(--vt-c-white);
            background: lightslategrey;
            padding: 4px 16px;
        }
        .time-center {
           text-align: center;
            display: block;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

