.expanded {
    background-color: yellow;
}

* {
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #fff3;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #0003;
        border-radius: 10px;
        transition: all .2s ease-in-out;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}
@import '_base';
@import 'survey';
@import '_user';
