* {
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #fff3;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #0003;
        border-radius: 10px;
        transition: all .2s ease-in-out;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}
@import '_mixin';
@import '_base';
@import '_user';
@import '_calendar';
